<div class="cub">
    <div>
        <div class="option"><img src="../../../assets/Group 34.png" alt="#"></div>
        <div class="middle">
            <img src="{{user.img}}" alt="">
            <span>{{user.profession}}</span>
            <p>{{user.fullName}}</p>
        </div>
        <div class="footer">
            <div><img src="../../../assets/Vector.png" alt=" "><span>Address:{{user.addres}}</span></div>
            <div><img src="../../../assets/Vector (1).png" alt=" "><span>Phone:{{user.phone}}</span></div>
        </div>
    </div>
</div>