<div class="navDiv">
    <div class="navHeader">
        <div class="logoDiv">
            <img src="../../../assets/BRAIN_FORS_LOGO 1.png" alt="#" class="logo">
            <h1 class="h1"> BRAIN FORS</h1>
        </div>


        <div class="line" id="{{item}" *ngFor="let item of menuItems">
            <img src="{{item.icon}}" alt="#" class="icon">
            <span class="iconText"> {{item.tittle}} </span>
        </div>
    </div>
    <div class="navFooter">


        <div class="lineFooter" *ngFor="let i of menuSettingsItems">
            <app-footer-item [menuItem]="i"></app-footer-item>
        </div>
    </div>
</div>