.navDiv {
    display: flex;
    flex-direction: column;
    width: 260px; 
    min-height: 100vh;   
    height: 100%;
    background-color: #11493E;
    justify-content: space-between;
}



.logoDiv {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
}

.logo {
    width: 58px;
    height: 36px;
    margin-left: 25px;
}

.h1 {
    margin-left: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFF;
}

.navHeader{
    width: 100%;
    min-height: 397px;  
    margin-bottom: 20px;
}


.line {
    align-items: center;
    margin-top: 28px;
    display: flex;
}
.lineFooter {    
    margin-top: 30px;
}


.line2 {
    display: flex;
    align-items: center;
    margin-top: 30px;  
    margin-left: 42px;  
}
.lineFooter2 {
    display: flex;
    align-items: center;
    margin-top: 30px;  
    margin-left: 42px;  
}


.hr{
    margin-top: 10px;
    width: 233px;
    margin-left: 74px;
    background-color: #347474;

}

.icon {
    margin-right: 16px;
    margin-left: 30px;
    height: 26px;
    width: 26px;
}

.iconText {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #E4E6FF;
}

.navFooter{
    border-top: 1px solid #E3E4E9;
    width: 100%;
    height: 240px;    
    
}
.activeline{
    display: flex;
    align-items: center;
    width: 300px;
    height: 52px;
    background: #347474;
    border-radius: 50px 0px 0px 50px;
    margin-top: 13px;
    margin-left: 8px;
}