<div class="container">
    <form [formGroup]="myForm">


        <div>
            <mat-form-field appearance="outline" class="large">
                <mat-label>Project Details</mat-label>
                <input matInput placeholder="Placeholder" formControlName="details">
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Status</mat-label>
                <mat-select formControlName="status">
                    <mat-option *ngFor="let food of status" [value]="food">
                        {{food}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="large">
                <mat-label>Country</mat-label>
                <mat-select formControlName="country">
                    <mat-option *ngFor="let country of countries" [value]="country.name">
                        {{country.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="large">
                <mat-label>Client name</mat-label>
                <input matInput placeholder="Placeholder" formControlName="client">
            </mat-form-field>
        </div>

        <mat-form-field appearance="outline" class="textArea">
            <mat-label>Project Details</mat-label>
            <textarea matInput formControlName="details2"></textarea>
        </mat-form-field>


        <mat-form-field class="example-chip-list chips" appearance="fill">
            <mat-label>Favorite Fruits</mat-label>
            <mat-chip-list #chipList aria-label="Fruit selection">
                <mat-chip *ngFor="let item of mytecnologies" (removed)="remove(item)">
                    {{item}}
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
                <input placeholder="New fruit..." [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)" formControlName="tecnologies">
            </mat-chip-list>
        </mat-form-field>










        <button [disabled]="myForm.invalid" (click)="myFunc()"> Submit </button>



    </form>
</div>