.mainContain {
    width: calc(100vw - 277px);
    min-width: 1069px;
    min-height: calc(100vh - 80px);
    background-color: #E9F1F1;
}
.myContainer{
    min-width: 1020px;;
    width: 94%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;       
    
}
.navigatinDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    
}
.createButtonDiv{
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    width: 215px;
    height: 50px;
    background-color: #347474;
}
.createLogo{
    margin-right: 15px;
    width: 30px;
    height: 28px;
}
.createText{
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: white;
}

.filterBigDiv{
    margin-left: 32px;
    display: flex;
    justify-content: space-between;
    width: 180px;
    height: 38px;
    
}
.sort{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 123px;
    height: 100%;
    background-color: #347474;
    border-radius: 13px;
}

.sortSpan{
    margin-left: 20px;
    color: white;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
}
.filtr{
    width: 44px;
    height: 100%;
    border-radius: 13px;
    background-color: #347474;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slack{
    margin-right: 15px;
    width: 18px;
    height: 10px;
}
.profileBigDiv{
    margin-right: 16px;
    margin-bottom: 16px;
    padding-left: 18px;
    padding-right: 20px;
    width: 325px;
    height: 260px;
    background-color: white;
    border-radius: 15px ;
}
.profileLineDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;    
    margin-top: 10px;
     
}
.lastDiv{
        width: 100%;    
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profileImageName{
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    align-items: center;
    width: 100%;    
    display: flex;
}
.mysql{
    margin-top: 2px;
    width: 100%;    
    margin-bottom: 8px;
}
.developersDiv{
    width: 100%;       
    margin-top: 8px;
}

.ex{
    display: flex;
    align-items: center;
}

.stageAppLogo{
    width: 95px;
    height: 20px;
}
.dots{
    width: 20px;
    height: 4px;
}

.profilelogo{
    width: 27px;
    height: 27px;
}
.image{
    width: 27px;
    height: 27px;
    border: 1px solid #347474;
    border-radius: 25px;
}

.text{
    
    font-size: 14px;
    line-height: 15px;
    color: #A9A9A9;
}
.text1{
    margin-left: 8px;
}
.tag{
  
    font-size: 12px;
    color: white;
    
}
.centerFlex{
    margin-bottom: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: -20px;
    background-color: #347474;   
    width: 80px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconsDiv{
    margin-top: 2px;
    width: 100%;     
    object-fit: cover;    
}
.position{
    position: relative;
    margin-left: -10px;
}

.programs{
    margin-right: 3px;
    background-color: #4C5F79;
    font-size: 12px;
    padding: 2px 13px;
    color: white;
    border-radius: 10px;
}
.tokosDiv{
    width: 75px;
    height: 34px;
    background-color: #347474;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 4[x];
}

.tokos{
    color: white;
    font-size: 18px;
}
.lastImage{
    width: 95px;
    height: 30px;
}