<main class="main">

<div>


    <div class="profileLineDiv">
        <img src="../../../assets/stageApp.png" alt="#" class="stageAppLogo">
        <div class="dotsDiv" [matMenuTriggerFor]="menu">
        <img src="../../../assets/dots.png" alt="#" class="dots" >
    </div>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Edit</button>
  <button mat-menu-item (click)="deleteUser(index)" >Delete</button>
</mat-menu>
    </div>

    <div class="profileImageName">
        <div class="ex">
            <img src="../../../assets/prof1.png" alt="#" class="profilelogo">
            <span class="text text1"> {{projectItem.client}}</span>
        </div>
        <div class="centerFlex">
            <span class="tag">{{projectItem.status}}</span>
            
        </div>
    </div>

    <span >Description</span>
    <p> {{projectItem.details2}}</p>
</div>
    <div class="developersDiv">
        <span class="text"> Tecnologies </span>
        <div class="mysql" >
            <span class="programs"  *ngFor="let i of projectItem.tecnologies">{{i}}</span>
           
           
        </div>
        
    </div>

</main>