<div class="mainContain">
    <div class="marginDiv"></div>
    <div class="containIconsDiv">
        <span class="birdText">Bids</span>
        <div class="miniIcons">
            <img src="../../../assets/Group 74.png" alt="#" class="containIcon">
            <img src="../../../assets/Group 73.png" alt="#" class="containIcon">
        </div>
    </div>
    <div class="chengDiv">
        <span class="chengSpan">Source</span>
        <span class="chengSpan2">Applied date</span>
        <span class="chengSpan3">Direction</span>
        <span class="chengSpan4">Client Name</span>
        <span class="chengSpan5">Duration</span>
        <span class="chengSpan6">Description</span>
    </div>
    <div class="contain">
        <div class="bigDiv1" *ngFor="let npm1 of containItems">
            <div class="iconDiv">
                <img src={{npm1.img}} alt="#" class="imgStyle">
            </div>
            <div class="dataDiv">{{npm1.title1}}</div>
            <div class="directionDiv">{{npm1.title2}}</div>
            <div class="clientDiv">{{npm1.title3}}</div>
            <div class="durationDiv">{{npm1.title4}}</div>
            <div class="descriptionDiv"><span class="lastSpan">{{npm1.title5}}</span></div>
        </div>

    </div>
</div>