<div class="mainContain">
    <div class="marginDiv"></div>

    <div class="contain">
        <div class="containIconsDiv">
            <div class="miniIcons">
                <img src="../../../assets/Group 74444.png" alt="#" class="containIcon">
                <img src="../../../assets/Group 7333.png" alt="#" class="containIcon">
            </div>
        </div>

        <div class="bigCub">
            <div class="cub" *ngFor="let i of containItems">
                <span class="cubText">{{i.tittle}}</span>
                <img src="{{i.img}}" alt="#" class="dotsIcon">
            </div>
        </div>
    </div>


</div>