<div class="mainContain">
    <div class="marginDiv"></div>

    <div class="contain">
        <div class="containIconsDiv">
            <div class="miniIcons">
                <img src="../../../assets/Group 74.png" alt="#" class="containIcon">
                <img src="../../../assets/Group 73.png" alt="#" class="containIcon">
            </div>
        </div>

        <div class="bigCub">
            <div class="cub" *ngFor="let i of containItems">
                <span class="cubText">{{i.tittle}}</span>
                <img src="{{i.img}}" alt="#" class="dotsIcon">
            </div>            
            <!-- <div class="cub">
                <span class="cubText">Properties</span>
                <img src="../../../assets/Group 34.png" alt="#" class="dotsIcon">
            </div>
            <div class="cub">
                <span class="cubText">Tax</span>
                <img src="../../../assets/Group 34.png" alt="#" class="dotsIcon">
            </div>            
            <div class="cub">
                <span class="cubText">Bonuses</span>
                <img src="../../../assets/Group 34.png" alt="#" class="dotsIcon">
            </div>
            <div class="cub">
                <span class="cubText">Internet</span>
                <img src="../../../assets/Group 34.png" alt="#" class="dotsIcon">
            </div>            
            <div class="cub">
                <span class="cubText">Coffee</span>
                <img src="../../../assets/Group 34.png" alt="#" class="dotsIcon">
            </div>
            <div class="cub">
                <span class="cubText">Salary</span>
                <img src="../../../assets/Group 34.png" alt="#" class="dotsIcon">
            </div>            
            <div class="cub">
                <span class="cubText">Transaction Fee</span>
                <img src="../../../assets/Group 34.png" alt="#" class="dotsIcon">
            </div>
            <div class="cub">
                <span class="cubText">Online tools</span>
                <img src="../../../assets/Group 34.png" alt="#" class="dotsIcon">
            </div>            
            <div class="cub">
                <span class="cubText">New office transfer</span>
                <img src="../../../assets/Group 34.png" alt="#" class="dotsIcon">
            </div>
            <div class="cub">
                <span class="cubText">Other</span>
                <img src="../../../assets/Group 34.png" alt="#" class="dotsIcon">
            </div>            
            <div class="cub">
                <span class="cubText">Utilities</span>
                <img src="../../../assets/Group 34.png" alt="#" class="dotsIcon">
            </div>
            <div class="cub">
                <span class="cubText">Accounting</span>
                <img src="../../../assets/Group 34.png" alt="#" class="dotsIcon">
            </div> -->


            


            


            

        </div>







    </div>


</div>