.mainContain {
    width: 100%;
    min-height: 735px;
    background-color: #E9F1F1;
    display: flex;
}
.infoDiv{
    display: flex;
   
}

.myimage{   
    width: 280px;
    height: 280px;
    object-fit: cover;
    margin-left: 10px;
}

span{    
    margin-left: 20px;
    margin-top: 20px;
}


.left{
    min-width: 100px;
    display: flex;
    flex-direction: column;
}