.mainContain {
    width: 100%;
    min-height: 735px;
    background-color: #E9F1F1;
}

.contain {
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    border-radius: 8px;
}

.containIconsDiv {
    width: 100%;
    height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 53px;
}

.createEmployee {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #347474;
    height: 43px;
    margin-left: 50px;
    border-radius: 10px;
    padding: 10px;
    span {
        padding: 5px;
        color: white;
    }
    img {
        padding: 5px;
    }
}

.miniIcons {
    display: flex;
    justify-content: space-between;
    width: 110px;
    height: 43px;
    margin-right: 53px;
}

.containIcon {
    width: 43px;
    height: 43px;
}

.bigCub {
    width: 1230px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}