<div class="mainContain">
    <div class="contain">
        <div class="containIconsDiv">
            <div class="createEmployee">
                <img src="../../../assets/Group.png" alt="">
                <span>Create employee</span>
            </div>
            <div class="miniIcons">
                <img src="../../../assets/Group 73.png" alt="#" class="containIcon">
                <img src="../../../assets/Group 74.png" alt="#" class="containIcon">
            </div>
        </div>

        <div class="bigCub">
            <div class="cub" *ngFor="let i of usersList">
                <div>
                    <div class="option"><img src="../../../assets/Group 34.png" alt="#"></div>
                    <div class="middle">
                        <img src="{{i.img}}" alt="">
                        <span>{{i.profession}}</span>
                        <p>{{i.fullName}}</p>
                    </div>
                    <div class="footer">
                        <div><img src="../../../assets/Vector.png" alt=" "><span>Address:{{i.addres}}</span></div>
                        <div><img src="../../../assets/Vector (1).png" alt=" "><span>Phone:{{i.phone}}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>